<section id="user_edit">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card p-4">
                    <h2>Edit User</h2>
                    <form id="editUser" >
                        <div class="form-row">
                            <div class="form-group ">
                                <label for="inputEmail4">Email</label>
                                <input type="email" class="form-control" id="email" value="{{userDetails.email}}" placeholder="Email">
                                <span class="msg">  </span>
                                <span class="emailExisetMsg">  </span>
                            </div>
                            {{!-- <div class="form-group">
                                <label for="inputPassword4">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password">
                                <span class="msg">  </span>

                            </div> --}}
                            <input type="text" id="id" value="{{userDetails._id}}" hidden >
                        </div>
                        <div class="form-group ">
                                <label for="inputState">State</label>
                                <select id="status"  class="form-control">
                                    <option value="{{userDetails.status}}" selected>{{userDetails.status}}</option>
                                    <option value="Active">Active</option>
                                     <option value="Block ">Block</option>
                                </select>
                            </div>
                     
                       
                        <button type="submit" class="btn btn-warning mt-5 ">Edit User</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    
 $(document).ready(function () {
        $("#editUser").submit(function (e) {
            e.preventDefault();  
            let emailFeald=document.getElementById('email');
            let emailformControl= emailFeald.parentElement;
            let emailmsg=emailformControl.querySelector('.msg');
            let emailExisetMsg=emailformControl.querySelector('.emailExisetMsg');



         /*   let passwordFeald=document.getElementById('password');
            let passwordformControl= passwordFeald.parentElement;
            let passwordmsg=passwordformControl.querySelector('.msg');
        */
           

            let email = $("#email").val()
            let status = $("#status").val()
            let id = $("#id").val()

            $.ajax({
                url:'/admin/editUser/',
                data: {
                    email,status,id
                },
                method: 'post',
                success: (response) => {
                     /*console.log(response)
                     if(response.emailVerification.error || response.passwordVerification.error  || response.emailExist.error){
                         if(response.emailVerification.error){                            
                            emailmsg.innerHTML=response.emailVerification.message;
                         }else{
                             emailmsg.innerHTML="";
                         }
                         if(response.emailExist.error){                            
                            emailExisetMsg.innerHTML=response.emailExist.message;
                         }else{
                             emailExisetMsg.innerHTML="";
                         }

                         if(response.passwordVerification.error){                            
                            passwordmsg.innerHTML=response.passwordVerification.message;
                         }else{
                             passwordmsg.innerHTML="";
                         }
                         */

                     
                        location.href = 'http://localhost:3000/admin'
                     
                },
                error:(response)=>{
                    console.log(response)
                }

            });
        });
      
    });
    
            
    
</script>