<section id="user_section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-6 p-5">
                    <h1>Lorem ipsum dolor sit amet.</h1>
                    <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi saepe quis dignissimos porro vel amet!</h3>
                    <div class="d-flex mt-5">
                        <a href="" class="btn theme-btn me-3">Learn More</a>
                        <a href="" class="btn theme-btn me-3">Logout</a>
                    </div>

                </div>
                <div class="col-lg-6 p-4 ">
                    <div class="img">
                        <img src="/images/undraw_Control_panel_re_y3ar.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
</section>