:root{
    --text-color:#02534e ;
    --theme-color:#4ecdc4;

}
.msg,.emailExisetMsg{
    color: red;
    font-weight: bold;
}
.theme-btn{
    margin: auto 1rem;
    border-radius: .5rem;
    border:none;
    padding: .8rem 2rem;
    background-color: var(--text-color);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: bold;
    transition: all .3s ease;
    &:hover{
        background-color: var(--theme-color);
        color:#000;
    }
}

#user_section{
    .container{
        .col-lg-6{
            h1{
                font-size: 4rem;
                color: var(--text-color);
            }
            h3{
                color: rgb(68, 65, 65);
            }

            .img{
                width:100% ;
                height: auto;
                img{
                    width:100% ;
                height: auto;
                }
            }
        }
    }
}
#user_nav{
    .navbar-brand{
        color: #02534e;
        font-weight: bold;
    }
    .navbar-nav{
        .nav-item{
            .nav-link{
                color: #02534e;
                font-weight: bold;
                &:hover{
                    color: #4ecdc4;
                }
            }
        }
    }
}
#user_login,#user_signup{
    width: 100%;
    min-height: 100vh;
    .row{
        height: 100%;

        .card{
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            .login{

                background-color: #aeefea;
            }
        }
        .img{
            width: 100%;

            img{
                width: 100%;
                height: auto;
            }
        }
        .firm-item{
            flex-direction: column;
            margin: .5rem 0rem;
            input{
                padding: .5rem;
                color: #02534e;
                border: 1px solid #02534e;
                border: none;
                outline: none;
                border-radius: .5rem;
            }
         
        }
       
    }
}

#admin-login{
    width: 100%;
    min-height: 100vh;
    background-color: #4ecdc4;
    .row{
        height: 100vh;
        margin: 0rem;
        justify-content: center;
        align-items: center;
        .firm-item{
            flex-direction: column;
            margin: .5rem 0rem;
            input{
                padding: .5rem;
                color: #02534e;
                border: 1px solid #02534e;
                outline: none;
                border-radius: .5rem;
            }
         
        }
    }
}