:root {
  --text-color:#02534e ;
  --theme-color:#4ecdc4;
}

a {
  text-decoration: none;
}

.msg, .emailExisetMsg, .error {
  color: red;
  font-weight: bold;
}

.theme-btn {
  margin: auto 1rem;
  border-radius: .5rem;
  border: none;
  padding: .8rem 2rem;
  background-color: var(--text-color);
  color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-weight: bold;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.theme-btn:hover {
  background-color: var(--theme-color);
  color: #000;
}

#user_section .container .col-lg-6 h1 {
  font-size: 4rem;
  color: var(--text-color);
}

#user_section .container .col-lg-6 h3 {
  color: #444141;
}

#user_section .container .col-lg-6 .img {
  width: 100%;
  height: auto;
}

#user_section .container .col-lg-6 .img img {
  width: 100%;
  height: auto;
}

#user_nav .navbar-brand {
  color: #02534e;
  font-weight: bold;
}

#user_nav .navbar-nav .nav-item .nav-link {
  color: #02534e;
  font-weight: bold;
}

#user_nav .navbar-nav .nav-item .nav-link:hover {
  color: #4ecdc4;
}

#user_login, #user_signup, #add_user {
  width: 100%;
  min-height: 100vh;
}

#user_login .row, #user_signup .row, #add_user .row {
  height: 100%;
}

#user_login .row .card, #user_signup .row .card, #add_user .row .card {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#user_login .row .card .login, #user_signup .row .card .login, #add_user .row .card .login {
  background-color: #aeefea;
}

#user_login .row .img, #user_signup .row .img, #add_user .row .img {
  width: 100%;
}

#user_login .row .img img, #user_signup .row .img img, #add_user .row .img img {
  width: 100%;
  height: auto;
}

#user_login .row .firm-item, #user_signup .row .firm-item, #add_user .row .firm-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: .5rem 0rem;
}

#user_login .row .firm-item input, #user_signup .row .firm-item input, #add_user .row .firm-item input {
  padding: .5rem;
  color: #02534e;
  border: 1px solid #02534e;
  border: none;
  outline: none;
  border-radius: .5rem;
}

#admin-login {
  width: 100%;
  min-height: 100vh;
  background-color: #4ecdc4;
}

#admin-login .row {
  height: 100vh;
  margin: 0rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#admin-login .row .firm-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: .5rem 0rem;
}

#admin-login .row .firm-item input {
  padding: .5rem;
  color: #02534e;
  border: 1px solid #02534e;
  outline: none;
  border-radius: .5rem;
}

#user_edit .row {
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#user_edit .row .card {
  background-color: #4ecdc4;
}
/*# sourceMappingURL=style.css.map */